
<script src="/assets/js/admin-locations.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/course-create.js"></script>

</body>
</html>